<div>
    <div>
        <a href="#/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i> Back</a>
    </div>
    <div class="col-md-6">

        <h2>{{ vm.itemName }}</h2>
       
        <wait-cursor display-when="vm.isBusy"></wait-cursor>
        <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
        <div class="alert alert-info" ng-show="vm.infoMessage">{{ vm.infoMessage }}</div>

        <button ng-click="vm.tryBid()" class="btn btn-danger pull-left">Try bid</button>

        <form novalidate="" name="newBidForm" ng-submit="vm.addBid()">
            <div class="form-group">
                <input type="submit" value="Just add bid" class="btn btn-success"/>
            </div>
        </form>


        <div>
            <!--<h2>Price: {{ vm.currentPrice }}</h2>-->
            <h2>Price: <span ng-bind="vm.currentPrice"></span></h2>
        </div>

        <div class="alert alert-info" ng-show="vm.serverMessage">{{ vm.serverMessage }}</div>

        <div>
            <p>All bids from server + my local.</p>
            <button ng-click="vm.refresh()" class="btn btn-default pull-right">Refresh</button>
            <button ng-click="vm.clear()" class="btn btn-default pull-right">Clear bids</button>
        </div>
        <table class="table table-responsive table-striped">
            <tr>
                <th>Username</th>
                <th>Price</th>
                <th>Created</th>
            </tr>
            <tr ng-repeat="bid in vm.bids">
                <td>{{ bid.userName }}</td>
                <td>{{ bid.price }}</td>
                <td>{{ bid.created | date:'medium' }}</td>
            </tr>
        </table>

    </div>

    <div class="col-md-6">
        <h2>Details</h2>
        <h3> {{ vm.currentItem.description }}</h3>
        <div>
            <img ng-src="{{vm.currentItem.picture}}"/>
        </div>
    </div>
</div>
