
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Demo Auction App</h1>
        <a asp-controller="App" asp-action="Items" class="btn btn-lg btn-success">View</a>
    </div>
</div>